@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Calculator</h1>
    <!--<ul style="list-style:none">
        <li><a href="Calculator/Add?nums=4&nums=4&nums=4">Add</a></li>
        <li><a href="Calculator/Sub?min=8&sub=4">Substract</a></li>
        <li><a href="Calculator/Mult?nums=4&nums=4&nums=4">Multiply</a></li>
        <li><a href="Calculator/Div?divd=8&divs=4">Divide</a></li>
        <li><a href="Calculator/Sqrt?num=4">Square Root</a></li>
    </ul>-->
</div>
